<div id="signup" v-cloak>
  <div class="container" v-if="!cloudSuccess">
    <h2 class="text-center">Log a Task</h2>
    <div class="signup-form">
      <hr/>
      <!-- <ajax-form action="signup" :syncing.sync="syncing" :cloud-error.sync="cloudError" @submitted="submittedForm()" :handle-parsing="handleParsingForm"> -->
      <form action="/tasks/add-tasks/add" method="POST">
        <input type="hidden" class="form-control" id="id" name="assignedDev" value="<%=me.id %>">
        <div class="form-group">
          <label for="taskName">Task Name</label>
          <input type="text" class="form-control" id="taskName" name="taskName" placeholder="eg: Homepage 'OK' Button">
        </div>
        <div class="form-group">
          <label for="project">Task Project</label>
          <select class="form-control" id="project" name="project">
            <option value="" disabled selected>--please select a project</option>

            <% if(projects) { %>
              <% projects.forEach (project => { %>
                <option value="<%=project.id %>"><%=project.projectName %></option>
              <%  }) %>
            <% } %>

          </select>
        </div>
        <div class="form-group">
          <label for="taskDescription">Task Description</label>
          <textarea type="text" class="form-control" id="taskDescription" name="taskDescription" rows="4" placeholder="A brief description of the above task"></textarea>
        </div>
        <div class="form-group">
          <label for="taskHours">Number of Hours</label>
          <input type="text" class="form-control" id="taskHours" name="taskHours" placeholder="eg: 10">
        </div>
        <button type="submit" :syncing="syncing" class="btn-dark btn-lg btn-block">Log Task</button>
      </form>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
